{% extends 'base.html' %}

{% block title %} Deception Operations {% endblock %}

{% macro generate_row(data) %}
    {% for item in data %}
        <tr id="row-{{ item.id }}">
            <th class="text-center col-1"><a href="{{ url_for('views.view_operation', operation_id=item.id) }}" class="text-reset text-decoration-none">{{ item.id }}</a></th>
            <td><a href="{{ url_for('views.view_operation', operation_id=item.id) }}" class="text-reset text-decoration-none">{{ item.preparation.name }}</a></td>
			<td class="text-center">{{ item.closure_criteria.commander | default("N/A") if item.closure_criteria.commander != "" else "N/A" }}</td>
			<td class="text-center">{{ item.closure_criteria.end_date | default("N/A") if item.closure_criteria.end_date != "" else "N/A" }}</td>
            <td class="text-center">
                <a href="{{ url_for('views.view_operation', operation_id=item.id) }}" type="button" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                <button type="button" class="btn btn-danger delete-operation" data-operation-id="{{ item.id }}" data-bs-toggle="tooltip" title="Hold to delete"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endmacro %}

{% block extra_head %}
<script src="{{ url_for('static', filename='js/operations_creator.js') }}" type="module"></script>
{% endblock %}


{% block content %}
<div class="container" id="content">
	<div class="row align-items-center">
		<div class="col">
			<span class="d-inline-block" data-bs-placement="top" data-bs-toggle="tooltip" title="View, manage and create Deception Operations">
				<h2>Deception Operations</h2>
			</span>
		</div>
		<div class="col-auto">
			<button type="button" class="btn btn-orange text-white" data-bs-toggle="modal" data-bs-target="#NewOpModal">
				<i class="bi bi-file-earmark-plus"></i> New Operation
			</button>
		</div>
	</div>
	<br>

  <div class="container">
	<div class="row">
	  <div class="col-12">
		<table class="table table-striped table-hover">
		  <thead>
			<tr>
			  <th scope="col" class="text-center">#</th>
			  <th scope="col">Operation Name </th>
			  <th scope="col" class="text-center col-2">Owner</th>
			  <th scope="col" class="text-center col-2">End Date</th>
			  <th scope="col" class="text-center col-2">Actions</th>
			</tr>
		  </thead>
		  <tbody>
			{{ generate_row(data) }}
		  </tbody>
		</table>
		
		</table>
	  </div>
	</div>
  </div>

</div>

<!-- New Operation Modal -->
<div class="modal modal-lg fade" id="NewOpModal" tabindex="-1" aria-labelledby="NewOpModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="NewOpModalLabel">New Deception Operation</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <!-- Preparation Accordion -->
		  <div class="accordion mt-2" id="NewOpAccordion1">
			  <div class="accordion-item new-op-item">
				  <h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NewOpHeading1" aria-expanded="true" aria-controls="NewOpHeading2">
							Preparation
					  </button>
				  </h2>
				  <div id="NewOpHeading1" class="accordion-collapse collapse" data-bs-parent="#NewOpAccordion1">
					  <div class="accordion-body">
						<div class="mb-3">
							<label for="name" class="form-label">Operation Name *</label>
							<input type="text" class="form-control" id="name" placeholder="Example: Dev environment protection" required>
						  </div>
						  <div class="mb-3">
							<label for="objective" class="form-label">Objective</label>
							<textarea class="form-control" id="objective" rows="2" placeholder="Example: Detect Malicius Behaviour from compromised Developer device" ></textarea>
						  </div>
						  <div class="mb-3">
							<label for="assets" class="form-label">Main Assets involved</label>
							<textarea class="form-control" id="assets" rows="3" placeholder="Example: Developer PC | Office Network | Github Repositories | Internal Dev Server | Internal DB Server" ></textarea>
						  </div>
					  </div>
				  </div>
			  </div>

		  </div>
		  <!-- / Preparation Accordion -->
		  <!-- Narrative Accordion -->
		  <div class="accordion mt-2" id="NewOpAccordion2">
			<div class="accordion-item new-op-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NewOpHeading2" aria-expanded="true" aria-controls="NewOpHeading2">
						  Narrative
					</button>
				</h2>
				<div id="NewOpHeading2" class="accordion-collapse collapse" data-bs-parent="#NewOpAccordion2">
					<div class="accordion-body">
					  <div class="mb-3">
						  <label for="storytelling" class="form-label">Storytelling</label>
						  <textarea class="form-control" id="storytelling" rows="3" placeholder="Example: We have an old version our web app available in the network that is used for testing. | Leonardo its our external developer that is involved in some interesting projects"></textarea>
						</div>
						<div class="mb-3">
						  <label for="deception_activities" class="form-label">Deception Activities</label>
						  <textarea class="form-control" id="deception_activities" rows="3" placeholder="Example: Leonardo user created and uploaded in 25% of the Developers computers | Some curated project files from real user with Leonardo in FS that reference to a DolosT decoy | A monitored cloud key and secret key in some real document some developer computer " ></textarea>
						</div>
						<div class="mb-3">
						  <label for="monitoring" class="form-label">Monitoring</label>
						  <textarea class="form-control" id="monitoring" rows="3" placeholder="Example: Leonardo user logon and usage | Cloud token monitoring to SIEM | DolosT logs to SIEM" ></textarea>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- / Narrative Accordion -->
		  <!--  Closure criteria Accordion -->
		  <div class="accordion mt-2" id="NewOpAccordion3">
			<div class="accordion-item new-op-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NewOpHeading3" aria-expanded="true" aria-controls="NewOpHeading2">
						Closure criteria
					</button>
				</h2>
				<div id="NewOpHeading3" class="accordion-collapse collapse" data-bs-parent="#NewOpAccordion3">
					<div class="accordion-body">
					  <div class="mb-3">
						  <label for="limits" class="form-label">Limits</label>
						  <textarea class="form-control" id="limits" rows="3" placeholder=" "></textarea>
						</div>
						<div class="mb-3">
							<label for="end_date">End Date</label>
							<input id="end_date" class="form-control" type="date" />			
						</div>
						<div class="mb-3">
						  <label for="commander" class="form-label">Operation Commander</label>
						  <input class="form-control" id="commander" placeholder="Example: Joaquin Maldivas" ></input>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- / Closure criteria Accordion -->
		  <!--  Decoys -->
		  <div class="accordion mt-2" id="NewOpAccordion4">
			<div class="accordion-item new-op-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#d" aria-expanded="true" aria-controls="NewOpHeading2">
						Decoys Configuration
					</button>
				</h2>
				<div id="d" class="accordion-collapse collapse m-5" data-bs-parent="#NewOpAccordion4">
					<div class="input-group">
						<input type="file" class="form-control" id="decoys" aria-describedby="LoadDecoyConfig" aria-label="Upload">
					  </div>
				</div>
			</div>

		</div>
		<!-- / Closure criteria Accordion -->

		</div>
		<div class="modal-footer">
			<button id="SaveNewOp" type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Save</button>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
  <!-- / New Operation Modal -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var newOperationUrl = "{{ url_for('api.new_operation') }}";
	var deleteOperationUrl = "{{ url_for('api.remove_operation', operation_id='') }}";
</script>
{% endblock %}